:root {
  --color-primary: #347F6B;
  --color-primary-light: #81cbb7;
 
  --color-secondary: #d79717;
  --color-secondary-light: #f8e6c1;

  --color-white: #ffffff;
  --color-grey-light-1: #e8ebef;
  --color-grey-light-2: #b5c0cd;
  --color-grey-medium: #C9D8D7;
  
  --color-grey-dark-1: #2e3844;
  --color-grey-dark-2: #191f26;
  --color-black: #000000;

  --shadow-light: 0 3rem 6rem rgba(87, 106, 129, 0.3);
  --shadow-dark: 0 3rem 6rem rgba(46, 56, 68, 0.6);
  --shadow-dark-small: 0 .5rem 2rem rgba(46, 56, 68, 0.6);
  --shadow-text-dark: 2px 4px 5px rgba(46,56,68,0.9);
  --shadow-text-dark-sm: 0 2px 2px rgba(46,56,68,0.9);
}