* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(desktop) {
    font-size: 75%;
  }
}

body {
  background-color: rgba(212, 171, 38, 0.6);
  color: var(--color-grey-dark-1);
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  font-size: 2rem;
}