.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: 'Alegreya', serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.7;
}

.heading-primary {
  font-size: 8rem;
  color: var(--color-secondary);
  text-shadow: var(--shadow-text-dark);
  text-transform: uppercase;
  padding: 0 3rem;
}

.heading-secondary {
  font-size: 6rem;
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
  letter-spacing: 2px;
  padding: 0 5rem;
  margin-bottom: 3rem;
}

.heading-tertiary {
  font-size: 4rem;
  color: var(--color-grey-medium);
  
  &-sub {
    width: 50%;
    text-align: center;
    color: var(--color-secondary-light);
    border-bottom: 2px solid var(--color-secondary-light);
    margin: 4rem auto 0;
  }
}

.heading-blurb--dark,
.heading-blurb--light,
.social__blurb {
  font-family: 'Alegreya', serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
}

.heading-blurb--dark {
  background-color: rgba(46, 56, 68, 0.6);
  color: var(--color-secondary-light);
  font-size: 2.5rem;
  border-radius: 1.5rem;
  padding: 2rem 3rem;
  margin: 2rem 3rem;

  @include respond(phone) {
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    font-size: 2rem;
  }
}

.heading-blurb--light {
  padding: 4rem 35rem 8rem;

  @include respond(tab-land) {
    padding: 4rem 30rem 4rem;
  }
  @include respond(tab-port) {
    padding: 3rem 25rem 3rem;
  }
  @include respond(phone) {
    padding: 3rem 6rem 3rem;
  }
}

.social__blurb {
  color: var(--color-secondary-light);
  font-size: 2.5rem;
  padding: 1rem 4rem 3rem;

  @include respond(phone) {
    padding: 1rem 1rem 3rem;
  }
}

.item {
  &__header {
    color: var(--color-secondary-light);
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    @include respond(tab-port) {
      font-size: 2.25rem;
      letter-spacing: 1px;
    }

    &--side {
      font-size: 2rem;
    }
  }
  &__price,
  &__description {
    font-family: 'Alegreya', serif;
    font-style: italic;
  }
  &__price {
    font-size: 2.5rem;
  }
  &__description {
    font-size: 2rem;
  }
}

.info-text {
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem 2rem;

  @include respond(phone) {
    padding: .5rem 1rem;
    font-size: 2rem;
  }

  &--hours {
    font-size: 5rem;

    @include respond(phone) {
      font-size: 4rem;
    }
  }
}

.about-info {
  width: 80%;
  background-color: var(--color-secondary-light);
  box-shadow: var(--shadow-dark-small);
  letter-spacing: 1px;
  text-align: center;
  margin: 5rem auto 0;
  padding: 4rem 10%;

  @include respond(phone) {
    width: 90%;
    margin: 3rem auto 0;
    padding: 2rem 5%;
  }

  & p:first-child {
    padding-bottom: 3rem;
  }
}