.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  box-shadow: var(--shadow-dark-small);
  cursor: pointer;
}

.btn--toggle {
  font-size: 7.5rem;  
  color: var(--color-grey-light-1);
  background-color: var(--color-primary);
  border: 2px solid var(--color-grey-light-1);
  border-radius: 50%;
  width: 5.75rem;
  height: 5.75rem;
  line-height: 4.75rem;
  transition: all .3s;
  padding-bottom: .5rem;

  &:hover,
  &:focus {
    outline: none;
    transform: scale(1.1);
  }
  &:active {
    transform: translateY(2px);
  }
}

.btn--submit {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-grey-dark-1);
  margin: 4rem;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--color-secondary);
  align-self: center;
  transition: all .3s ease-in-out;

  &:hover,
  &:active {
    background-color: var(--color-grey-dark-1);
    color: var(--color-secondary);
  }

  &:hover { 
    transform: scale(1.05) translateY(2px);
    box-shadow: var(--shadow-dark);
  }
  &:active {
    outline: none;
    transform: scale(1.05) translateY(0);
    box-shadow: var(--shadow-dark-small);
  }
}