.form {
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__group {
    flex: 0 0 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__label {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.7;
    margin: .5rem 3rem;
    order: -1;
    transition: all .4s ease-in;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    width: 85%;
    margin: 1rem 3rem;
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--color-white);
    box-shadow: var(--shadow-dark-small);
    transition: all .4s ease-in;

    &--message {
      resize: none;
      height: 10rem;
    }

    &:focus {
      outline: none;
      box-shadow: var(--shadow-dark);
      transform: scale(1.05);
    }

    &::placeholder {
      font-family: 'Lato', sans-serif;
      font-size: 1.5rem;
      color: var(--color-grey-light-2);
      padding: 1rem 3rem;
    }
  }
  &__input:placeholder-shown ~ &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-4rem);
  }
}
