.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: 'Alegreya', serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.7;
}

.heading-primary {
  font-size: 8rem;
  color: var(--color-primary);
  text-shadow: var(--shadow-text-dark);
  text-transform: uppercase;
}

.heading-secondary {
  font-size: 6rem;
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
  padding: 0 5rem;
  margin-bottom: 3rem;
}

.heading-tertiary {
  font-size: 4rem;
  color: var(--color-grey-light-1);
  &-sub {
    text-align: center;
    color: var(--color-secondary-light);
    border-bottom: 2px solid var(--color-secondary-light);
    padding: 0 5rem;
    margin: 4rem auto 0;
    width: 50%;
  }
}

.heading-blurb--dark,
.heading-blurb--light,
.social__blurb {
  font-family: 'Alegreya', serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 1.5;
}

.heading-blurb--dark {
  background-color: rgba(46, 56, 68, 0.6);
  border-radius: 1.5rem;
  color: var(--color-primary-light);
  text-shadow: var(--shadow-text-dark);
  font-size: 2.5rem;
  padding: 2rem 3rem;
  margin: 2rem 3rem;
  text-align: center;
}

.heading-blurb--light {
  text-align: center;
  padding: 4rem 35rem 8rem;
}

.social__blurb {
  color: var(--color-secondary-light);font-size: 2.5rem;
  padding: 1rem 4rem 3rem;
  text-align: center;
}

.item {
  &__header {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--color-secondary-light);

    &--side {
      font-size: 2rem;
    }
  }
  &__price,
  &__description {
    font-family: 'Alegreya', serif;
    font-style: italic;
  }
  &__price {
    font-size: 2.5rem;
  }
  &__description {
    font-size: 2rem;
  }
}

.info-text {
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem 2rem;

  &--hours {
    font-size: 5rem;
  }
}

.about-info {
  width: 80%;
  margin: 5rem auto 0;
  padding: 4rem 10%;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark-small);
  letter-spacing: 1px;
  text-align: center;

  & p:first-child {
    padding-bottom: 3rem;
  }
}