.hours-box {
  background-image: linear-gradient(105deg,
    rgba(244, 232, 193, .8) 0%,
    rgba(244, 232, 193, .8) 50%,
    transparent 50%),
    url('../images/brunchStorefront.jpg');
  background-size: cover;
  background-position: center;
  margin: 6rem 10rem;
  border-radius: 1.5rem;
  overflow: hidden;
  
  &__hours {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}