.hours-box {
  background-image: linear-gradient(105deg,
    rgba(244, 232, 193, .8) 0%,
    rgba(244, 232, 193, .8) 50%,
    transparent 50%),
    url('../images/brunchStorefront.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 1.5rem;
  margin: 6rem 10rem;
  overflow: hidden;

  @include respond(tab-land) {
    background-image: linear-gradient(105deg,
    rgba(244, 232, 193, .8) 0%,
    rgba(244, 232, 193, .8) 55%,
    transparent 55%),
    url('../images/brunchStorefront.jpg');
    margin: 4rem 8rem;
  }
  @include respond(phone) {
    background-image: linear-gradient(105deg,
    rgba(244, 232, 193, .8) 0%,
    rgba(244, 232, 193, .8) 60%,
    transparent 60%),
    url('../images/brunchStorefront.jpg');
    margin: 2rem 4rem;
  }
  
  &__hours {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}