.map-box {
  width: 70%;
  height: 75vh;
  margin: 6rem auto;
  border: 5px solid var(--color-primary);
}

#map {
  width: 100%;
  height: 100%; 
}

.custom-popup {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;

  & b {
    text-transform: uppercase;
  }
}
.leaflet-popup-content-wrapper {
  color: var(--color-primary);
  background: var(--color-grey-light-1);
}
.leaflet-popup-content {
  margin: 1rem;
  width: 15rem;
  text-align: center;
}
.leaflet-popup-tip {
  background: var(--color-grey-light-1);
}