.footer {
  background-color: var(--color-grey-dark-1);
  padding: 6rem 0;
}

.social {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icons-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    font-size: 6rem;
    line-height: 1;
    color: var(--color-secondary);
    transition: all .4s;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__link {
    transition: all .4s;

    &:hover,
    &:active {
      transform: scale(1.3);
    }
  }
}

.copyright {
  color: var(--color-secondary-light);
  border-bottom: 2px solid var(--color-secondary);
  text-align: right;
  letter-spacing: 1px;
  font-size: 1.5rem;
  padding: 2rem 6rem;
}